<div class="container">

   <div class="col text-center">
      <h2 class="desplay-2">The List of Users</h2>
   </div>

   <div class="row mx-auto" >
      <div class="col-md-4" *ngFor="let user of usersList">

         <div class="card bg-success text-white">
            <div class="card-header">
               {{user.username}}
            </div>
            <div class="card-body">
               <div class="card-title">{{user.email}}</div>
               <div class="card-text">{{user.id}}</div>
            </div>
         </div>

      </div>
   </div>

</div>